/** {
	border: 2px solid green !important;
}*/


@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}



body {
	font-size: 16px;
    font-family: 'Rubik', sans-serif;

	background: url("../img/body_bg.jpg") repeat;
	background-size: 30% ;

/*	background-image: url('../img/garden-wall-simple-1.jpg');
    background-size: 512px;*/
}


#wrapper {
	box-shadow: 0 0 20px 0 #555;
}



#header {
	background: url("../img/BG1.jpg") no-repeat;

	background-size: 1320px 764px;

	transition: background-image 1s ease-in-out;
    /* Если хотите плавный переход непрозрачности */
    transition: background 1s ease-in-out;

	padding: 200px 0px 150px 0px;
}

#footer {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		url("../img/footer_bg.jpg");

	background: url("../img/footer_bg.jpg");

	background-size: 100% auto;
}

#footer {
	color: white;
}

#footer a{
	color: purple;
}

#header .plate {
	border-radius: 10px;
	background-color: rgba(255, 255 ,255, 0.1);
	padding: 20px 10px;
}

#header .timer-block {
	background-color: rgba(255, 255 ,255, 0.5);
}

#org-uni img {
	width: 250px;
	height: auto;
}

#page {
	background-color: #fff;
}


#org .img-wrapper {
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
	clip-path: circle(50% at center);
}

#org .img-wrapper img {
/*	object-fit: cover;*/
	position: absolute;
	height: auto;
}

.org-img {
    position: relative;
    width: 100%;
}

.org-img-1 {
    top: -121px;
    left: -445px;
    width: 1000px;
}

.org-img-2 {
    top: 0px;
    left: 0px;
    width: 500px;
}

.org-img-3 {
    top: -200px;
    left: -125px;
    width: 450px;
}

.org-img-4 {
	top: -50px;
    left: 0px;
    width: 300px;
}

.org-img-5 {
    top: 0px;
    left: -40px;
    width: 400px;
}



#speakers .img-wrapper {
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
	clip-path: circle(50% at center);
}

#speakers .img-wrapper img {
	position: absolute;
	height: auto;
}

#speakers a {
    overflow-wrap: break-word; /* для переноса длинных URL */
}

.lec-img {
    position: relative;
    width: 100%;
}

.lec-img-1 {
    top: 0px;
    left: -65px;
    width: 500px;
}

.lec-img-2 {
    top: -20px;
    left: -100px;
    width: 500px;
}

.lec-img-3 {
    top: -20px;
    left: 0px;
    width: 300px;
}


#prog .img-wrapper {
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
	clip-path: circle(50% at center);
}

#prog .img-wrapper img {
	position: absolute;
	height: auto;
}

.prog-img {
    position: relative;
    width: 100%;
}

.prog-img-1 {
    top: 0px;
    left: -100px;
    width: 500px;
}

.prog-img-2 {
    top: -35px;
    left: -100px;
    width: 500px;
}

.prog-img-3 {
    top: 0px;
    left: -120px;
    width: 500px;
}



#PlaceCarousel img {
	width: 640px;
	height: 400px;
	object-fit: cover;
}


#footer {
	background-color: #eeeeee;
	min-height: 300px;
}

#footer-logo {
	width: 400px;
}

.text-justify {
    text-align: justify;
}



@media (max-width: 1400px) {
    #logo {
        display: none;
    }
}

@media (max-width: 768px) {
	#PlaceCarousel img {
	width: 450px;
	height: 300px;
	}

	#timetable tr {
		font-size: 20px;
	}

	#footer-logo {
		width: 200px;
	}



}

@media (max-width: 576px) {


	#PlaceCarousel img {
	width: 400px;
	height: 250px;
	}

	#org .img-wrapper, #prog .img-wrapper, #speakers .img-wrapper {
		width: 200px;
		height: 200px;
	}

	.lec-img-1 {
	    top: 0px;
	    left: -65px;
	    width: 400px;
	}

	.lec-img-2 {
	    top: -20px;
	    left: -100px;
	    width: 400px;
	}

	.lec-img-3 {
	    top: -20px;
	    left: 0px;
	    width: 200px;
	}

	.prog-img-1 {
	    top: 0px;
	    left: -100px;
	    width: 400px;
	}

	.prog-img-2 {
	    top: -35px;
	    left: -100px;
	    width: 400px;
	}

	.prog-img-3 {
	    top: 0px;
	    left: -120px;
	    width: 400px;
	}

	.org-img-1 {
    top: -121px;
    left: -445px;
    width: 900px;
	}

	.org-img-2 {
	    top: 0px;
	    left: -20px;
	    width: 400px;
	}

	.org-img-3 {
        top: -200px;
        left: -156px;
        width: 450px;
	}

	.org-img-4 {
		top: -50px;
	    left: 0px;
	    width: 200px;
	}

	.org-img-5 {
	    top: 0px;
	    left: -40px;
	    width: 300px;
	}

	#timetable tr {
		font-size: 13px;
	}

	#footer-logo {
		width: 250px;
	}


}
