/** {
	border: 2px solid green !important;
}*/


@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

:root {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;

}

body {
	background: url("../img/body_bg.jpg") repeat;
	background-size: 30% ;
/*	background-image: url('../img/garden-wall-simple-1.jpg');
    background-size: 512px;*/
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.5);
}
  
.navbar-custom 
.navbar-brand,
.navbar-custom 
.navbar-nav 
.nav-link {
    color: #ffffff;
	font-weight: 800;

}


#wrapper {
	box-shadow: 0 0 20px 0 #555;
}




#header {
	background: url("../img/header_bg.png") no-repeat;
	padding-top: 100px;
}

#header .plate {
	border-radius: 50px;
	background-color: white;
	padding: 20px 10px;
}

#org-uni img {
	width: 250px;
	height: auto;
}

#page {
	background-color: #fff;
}


#org .img-wrapper {
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
	clip-path: circle(50% at center);
}

#org .img-wrapper img {
/*	object-fit: cover;*/
	position: absolute;
	height: auto;
}


#speakers .img-wrapper {
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
	clip-path: circle(50% at center);
}

#speakers .img-wrapper img {
	position: absolute;
	height: auto;
}


#prog .img-wrapper {
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
	clip-path: circle(50% at center);
}

#prog .img-wrapper img {
	position: absolute;
	height: auto;
}


#PlaceCarousel img {
	width: 640px;
	height: 400px;
	object-fit: cover;
}


#footer {
	background-color: #eeeeee;
	height: 300px;
}


@media (max-width: 1400px) {
    #logo {
        display: none;
    }
}

@media (max-width: 768px) {
		#PlaceCarousel img {
		width: 450px;
		height: 300px;
	}

}

@media (max-width: 576px) {
		#PlaceCarousel img {
		width: 400px;
		height: 250px;
	}

}