<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Поездка - Сайт</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="bg_1">
		<!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark" id="header-nav">
            <div class="container" style="margin-right: 5vw;">
                <!-- <a class="navbar-brand" href="{% url 'home' %}"><i class="fa-solid fa-paw fa-xs"></i> Nepike website <i class="fa-solid fa-paw fa-xs"></i></a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="#org">ОРГАНИЗАТОРЫ</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="#napr">НАПРАВЛЕНИЯ</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="#speak">СПИКЕРЫ</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="#timetable">РАСПИСАНИЕ</a></li>

                        <!-- <li class="nav-item"><a class="nav-link" href="{% url 'qunix' %}">Chat</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        
        <div class="text-center" style="height: 41.6vw; margin: 0;">
        	<h1>26.09 — 02.10.2024</h1>
        </div>

	</div>
	<div id="bg_2">

        <div id="title">
            <h1 style="margin-bottom: 0.3vw;">Школа по актуальным проблемам физики конденсированного состояния “Перспективные квантовые материалы”</h1>
            <p class="m-0">Программа Школы включает три цикла лекций приглашенных лекторов, а также устные доклады молодых участников.</p>
        </div>

		<div class="myblock" id="org" style="padding-top: 8vw; margin: 0px 50px 0px 50px;">
            <div class="name text-center">
                <h1>ОРГАНИЗАТОРЫ</h1>
            </div>
            <div class="gallery">
                <div class="plate text-center">
                    <img src="img/KlY0mOATSLibjuEANAqAWJhL7NbrjWkY7Xyoc4qX_medium 1.png" width="354px">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="plate text-center">
                    <img src="img/wmERTozFiJIGAwyXJUuHl_ZBVtf0k67Lbfb6fzzTBhhTsdGSY0pI_FK01dUct8P2lbRCmh4LMZTpbjw5q7FU-Xek 1.png" width="354px">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="plate text-center">
                    <img src="img/image 10.png" width="354px">
                    <p>Центр «Высокотемпературной сверхпроводимости и квантовых материалов» им. В.Л. Гинзбурга организован как научное подразделение ФИАН в 2017 году по приказу директора №230 от 29.06.2017г., на базе «Отдела высокотемпературной сверхпроводимости и наноструктур» ФИАН.</p>
                </div>
                <div class="plate text-center">
                    <h1>ПРИ УЧАСТИИ</h1>
                    <img src="img/1681537181_papik-pro-p-dgtu-logotip-vektor-2 1.png">
                    <img src="img/mipt 1.png">
                </div>
            </div>
        </div>


        <div class="myblock" id="napr" style="padding-top: 4vw; margin: 0px 50px 0px 50px;">
            <div class="name text-center">
                <h1>НАПРАВЛЕНИЯ</h1>
            </div>
            <div class="gallery">
                <div class="plate text-center">
                    <h1>Физика твердого тела</h1>
                </div>
                <div class="plate text-center">
                    <h1>Магнетизм</h1>
                </div>
                <div class="plate text-center">
                    <h1>Сверхпроводимость</h1>
                </div>
                <div class="plate text-center">
                    <h1>Материалы</h1>
                </div>
            </div>
        </div>
        
        <div class="myblock" id="speak" style="padding-top: 4vw; margin: 0px 50px 0px 50px;">
                <div class="name text-center">
                    <h1>СПИКЕРЫ</h1>
                </div>
                <div class="gallery">
                    <div class="plate text-center">
                        <p><b>Артем Ромаевич Оганов</b><br>(Проф., д.ф.м.н., Сколтех)<br><br><b>Предсказание и дизайн новых материалов</b></p>
                        <img src="img/1440879.png" width="400px">
                    </div>
                    <div class="plate text-center">
                        <p><b>Евгений Владимирович Чулков</b><br>(Проф., д.ф.-м.н., Donostia International Physics Center (Сан-Себастьян) and University of the Basque Country, Санкт-Петербургский Гос. Университет".)<br><br><b>Новые топологически нетривиальные материалы (включая АФМ топ. изоляторы) и “Рашбовские” материалы. DFT расчеты электронных спектров материалов.</b></p>
                        <img src="img/1440879.png" width="400px">
                    </div>
                    <div class="plate text-center">
                        <p><b>Александр Николаевич Квашнин</b><br>(Проф. д.ф.-м.н., Сколтех)<br><br><b>Теория и практика расчетов свойств новых сверхпроводников в рамках теории Мигдала-Элиашберга</b></p>
                        <img src="img/1440879.png" width="400px">
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Core theme JS-->
        <script src="https://kit.fontawesome.com/62704fc6a6.js" crossorigin="anonymous"></script>
</body>
</html>